
/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width:768px) {
	body {
    background: red;
    width: 50%;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width:1200px) {
  body {
    width: 20%;
    background-color: limegreen;
  }
}
